<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>Register - GlucoMonitor</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 600px;
            margin: 50px auto;
            background: #fff;
            padding: 30px;
            border-radius: 5px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        }

        h2 {
            text-align: center;
            margin-bottom: 20px;
        }

        label {
            display: block;
            margin: 10px 0;
        }

        input[type="text"], input[type="password"] {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        button {
            display: block;
            width: 104%;
            padding: 10px;
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            margin-top: 10px;
        }

        button:hover {
            background-color: #0056b3;
        }

    </style>
</head>

<body>
    <div class="container">
        <h2>Existing User - GlucoMonitor</h2>
        <!--form id="userForm" action="/existing_user/checkID" method="post"></form-->
        <form id="userForm" action="/getExistingUser" method="post" enctype="multipart/form-data">
            <label for="id">ID:</label>
            <input type="text" id="id" name="id" pattern="[0-9]{9}" title="Please enter a 9-digit number" required autofocus>

            <button type="submit">Submit</button>
            <p id="msg"></p>
        </form>

        <div id="userDetails" style="display: none;">
            <h3>Welcome, <span id="userName"></span></h3>
            <canvas id="sugarChart" width="400" height="200"></canvas>
        </div>
    </div>
    
</body>
</html>