<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register - GlucoMonitor</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 600px;
            margin: 50px auto;
            background: #fff;
            padding: 30px;
            border-radius: 5px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        }

        h2 {
            text-align: center;
            margin-bottom: 20px;
        }

        label {
            display: block;
            margin: 10px 0;
        }

        input[type="text"], input[type="password"] {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        button {
            display: block;
            width: 100%;
            padding: 10px;
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            margin-top: 10px;
        }

        button:hover {
            background-color: #0056b3;
        }
    </style>
</head>

<body>
    <div class="container">
        <h2>Register for GlucoMonitor</h2>

        <form id="firstUserForm" action="/saveNewUser" method="post" enctype="multipart/form-data">
            <label for="ssn">ID:</label>
            <input type="text" id="id" name="id" pattern="[0-9]{9}" title="Please enter a 9-digit number" required>
            
            <label for="firstName">name:</label>
            <input type="text" id="firstName" name="firstName"  required>
            
            <label for="lastName">Last name:</label>
            <input type="text" id="lastName" name="lastName" required/>

            <label for="birthDate">Date of birth:</label>
            <input type="date" id="birthDate" name="birthDate" required/>

            <label for="faceImg">Face image:</label>
            <input type="file" id="picture" name="picture" accept='image/*' style="direction:rtl"/>

            <label for="glucoseLevel">Current glucose level:</label>
            <input type="text" id="glucoseLevel" name="glucoseLevel" required/>

            <button type="submit">Register</button>
        </form>
    </div>
</body>

</html>
